  
<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <span class: "text-white">Your website</span></small>
  </div>
</footer>